
.container {
    border-bottom: 1px solid var(--accent-second);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    margin: 0;
    color: var(--heading);
}