
.searchBox input[type=text] {
    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all 0.15s ease-in 0.15s;
    font-size: 0.75rem;
    line-height: 25px;
    color: var(--text);
}

.searchBox input[type=text]::placeholder {
    visibility: hidden;
}

.searchBox input[type=text]:hover {
    cursor: pointer;
}

.searchBox input[type=text]:hover:focus {
    cursor: text;
}

.searchBox input[type=text]:hover:focus::placeholder {
    visibility: visible;
}

.searchBox input[type=text]:focus {
    width: 200px;
    padding: 0 10px;
    outline: none;
    background: none;
}

.searchBox input[type=text]:focus + span {
    width: 200px;
}

.searchBox input[type=text]:focus + span::before {
    width: 1px;
    opacity: 0;
    transition: all 0.15s ease-in;
}

.searchBox input[type=text] + span {
    z-index: -1;
    position: absolute;
    border: 1px solid #1890ff;
    top: 0;
    width: 25px;
    height: 25px;
    transition: all 0.15s ease-in 0.15s;
    border-radius: 25px;
    left: 0;
}

.searchBox input[type=text] + span::before {
    transition: all 0.15s ease-in 0.3s;
    transform-origin: left top;
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 5px;
    background: #1890ff;
    transform: rotate(45deg) translateX(28px);
}